body{
    background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/1bg.jpg?raw=true);
    background-size: cover;
}

.head{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 55px;
    text-shadow: 2px 2px 2px black,
                 0 0 2em lime,
                 0 0 0.2em lime;
    font-family: 'Kalam', cursive;
}

.head:hover{
    color: white;
    font-family: 'Kalam', cursive;
    text-shadow: 2.6px 2.6px 2px black,
                 0 0 2.5em lime,
                 0 0 0.25em lime;
}

div{
    text-align: center;
    display: inline-block;
    padding: 25px;
    border: 3px solid hotpink;
    border-radius: 20px;
    width: 240px;
    height: 160px;
}

.d1 {
    background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d1.jpg?raw=true);
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 130px;
}
.d2 {
    background-color: black;
    background-image: url(https://media1.giphy.com/media/X7jYaZR9uxmovsYWPR/giphy.gif);
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 610px;
}
.d3 {
    background-color: black;
    background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d3.png?raw=true);
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 1100px;
}
.d4 {
    background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d4.jpg?raw=true);
    background-size: cover;
    position: absolute;
    top: 500px;
    left: 130px;
}
.d5 {
    background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d5.gif?raw=true);
    background-size: cover;
    position: absolute;
    top: 500px;
    left: 610px;
}
.d6 {
    background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d6.jpg?raw=true);
    background-size: cover;
    position: absolute;
    top: 500px;
    left: 1100px;
}
a{
    transition-duration: 2000ms;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black,
                 1.5px 1.5px 2px black,
                 2px 2px 3px black,
                 2.5px 2.5px 4px black,
                 2px 2px 5px rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}


div:hover a{
    text-decoration: none;
    color: hotpink;
    text-shadow: 1px 1px 1px rgb(18, 0, 121),
                 1.5px 1.5px 2px rgb(18, 0, 121),
                 2px 2px 3px rgb(18, 0, 121),
                 2px 2px 5px rgb(18, 0, 121);
    font-family: 'Akaya Kanadaka', cursive;
    letter-spacing: 3px;
}

h3{
    z-index: 10;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;

}
h3 img{
    border-radius: 50%;
}



@media only screen and (max-width: 500px) {
    body{
    margin: 30px;
    background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/mobile1bg.jpg?raw=true);
    background-size: 800px;
    background-repeat: repeat-y;
    background-color: black;
    text-align: center;
    }
    .head{
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 55px;
        text-shadow: 2px 2px 2px black,
                     0 0 2em lime,
                     0 0 0.2em lime;
        font-family: 'Kalam', cursive;
        background-color: black;
        border-radius: 25px;
    }
    .d1 {
        background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d1.jpg?raw=true);
        background-size: cover;
        position: absolute;
        top: 250px;
        left: 30px;
    }
    .d2 {
        background-color: black;
        background-image: url(https://media1.giphy.com/media/X7jYaZR9uxmovsYWPR/giphy.gif);
        background-size: cover;
        position: absolute;
        top: 550px;
        left: 30px;
    }
    .d3 {
        background-color: black;
        background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d3.png?raw=true);
        background-size: cover;
        position: absolute;
        top: 850px;
        left: 30px;
    }
    .d4 {
        background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d4.jpg?raw=true);
        background-size: cover;
        position: absolute;
        top: 1150px;
        left: 30px;
    }
    .d5 {
        background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d5.gif?raw=true);
        background-size: cover;
        position: absolute;
        top: 1450px;
        left: 30px;
    }
    .d6 {
        background-image: url(https://github.com/rishika-sharma/solar-system/blob/main/d6.jpg?raw=true);
        background-size: cover;
        position: absolute;
        top: 1750px;
        left: 30px;
    }
}



















